{% extends "base.html" %}
{% block content %}
<div class="u-clearfix u-section-1">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="page-bottom-m"></div>
        <h1 class="u-text u-text-custom-color-1 u-text-default u-title u-text-1"> Your password has been set.</h1>
        <div class="page-bottom-m"></div>
        <p class="u-align-center u-text u-text-2"> You may go ahead and...</p>
        <div class="page-bottom-m"></div>
        <h2 class="u-text u-text-custom-color-1 u-text-default u-title u-text-1 text-color-45">
            <a href="{% url 'login' %}">Login Here</a>
        </h2>
    </div>
</div>
<div class="page-bottom-m"></div>
{% endblock content %}


