{% extends "base2.html" %}
{% block title %}Profile Page{% endblock title %}
{% block content %}

<section class="u-align-center-lg u-align-center-md u-align-center-xl u-align-left-sm u-align-left-xs u-clearfix u-section-1" id="carousel_ff1f" >
      {% if user_form.errors %}
    <div class="page-bottom"></div>
        <div class="alert alert-danger alert-dismissible" role="alert">
            <div id="form_errors">
                {% for key, value in user_form.errors.items %}
                    <strong>{{ value }}</strong>
                {% endfor %}
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}

<form method="post" enctype="multipart/form-data">
            {% csrf_token %}
  <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      {% csrf_token %}
      <div class="pagination-post"></div>
    <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
      <div class="u-layout">
        <div class="u-layout-row">
          <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-1" >
            <div class="profile-layout-1 u-container-layout u-container-layout-1">
              <h4 class="u-align-center u-text u-text-custom-color-1 u-text-6">Details:</h4>
              <p class="u-text u-text-7">
                <label style="font-weight: 700;">Username:</label>
                {{ user_form.username }}
                <br>
                <label style="font-weight: 700;">Email:</label>
                {{ user_form.email }}
                  <br>
                  <a href="{% url 'password_change' %}">Change Password</a>
                  <hr>
                  <label style="font-weight: 700;">Change Avatar:</label>
                  {{ profile_form.avatar }}
              </p>
            </div>
          </div>
          <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-2">
            <div class="profile-layout-2 u-container-layout u-container-layout-2">
              <h4 class="u-text u-text-custom-color-1 u-text-3" style="padding-bottom: 38px; text-align: center;">Biography:</h4>
              <label class="u-text u-text-default u-text-4" style="padding-bottom: 18px;" >{{ profile_form.bio }}</label>
              <button type="reset" class="u-border-none u-btn u-btn-round u-button-style u-custom-color-1 u-radius-50 u-btn-2" style="float: right;">Reset</button>
              <button type="submit" class="u-border-none u-btn u-btn-round u-button-style u-custom-color-1 u-radius-50 u-btn-2" style="float: left;">Save Changes</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
</section>
<div class="page-bottom"></div>
<hr>
{% endblock content %}
