{% extends 'base.html' %}

{% block addpost %}
<div class="comment-media form-content my-3 p-3">
    <div class="container">
        <div class="add-post-form add-post-title">
            <h1>Add Post</h1>
        </div>
        <div class="mt-0 mb-3">
            <form method="post" enctype="multipart/form-data" class="add-post-form justify-content-center" >
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Update" class="com-but btn">
            </form>
        </div>
     </div>
</div>
{% endblock addpost %}
